/******************************************
/* CSS
/*******************************************/

/*Imported Fonts*/

@font-face{
  font-family: 'Volkhov';
  font-weight: 400;
  src: url('assets/Fonts/volkhov-regular-webfont.woff2') format('woff2')
       url('assets/Fonts/volkhov-regular-webfont.woff') format('woff') 
}

@font-face{
  font-family: 'Vollkorn SC';
  font-style:'Black';
  font-weight: 900;
  src: url('assets/Fonts/VollkornSC-Black.ttf') format('woff2')
}

@font-face{
  font-family: 'Vollkorn';
  font-style: Bold;
  font-weight: 700;
  src: url('assets/Fonts/vollkorn-bold-webfont.woff2') format('woff2')
       url('assets/Fonts/vollkorn-bold-webfont.woff') format('woff') 
}

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0px;
}

/* Normalize default*/

li, a{
  list-style: none;
  font-style: none;
  text-decoration: none;
}

ul, menu{
  padding: 0;
}
/******************************************
/* Fonts
/*******************************************/

/*Font set up*/

html{
  font-size: 62%;
}

/* Headings General*/

h1{
  font-family:'Vollkorn',serif;
  font-size: 7rem;
  font-weight: 700;
  line-height: 134px;
}

h2{
  font-family: 'Vollkorn SC',serif;
  font-size: 5rem;
  font-weight: 900;
  line-height: 89px;
}

h3{
  font-family: 'Vollkorn SC',serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 56px;
}

h4, a{
  font-family: 'Vollkorn SC',serif;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 34px;
}

.bodyText, .comeVisitDetails li, footer li{
  font-family: 'Volkhov', serif;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px;
}

.bodyTextLg, .menuOptions span{
  font-family: 'Volkhov',serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 26px;
}

.bodyText, p{
  font-family: 'Volkhov',serif;
  font-size: 1.39rem;
  font-weight: 400;
  line-height: 21px;
}

a{
  font-size: 2rem;
}

.subtitle-sm{
  font-family: 'Volkhov', serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 31px;
}



/******************************************
/* LAYOUT
/*******************************************/

/*Comon properties*/

.width100{
  width: 100%;
}

.height100{
  height: 100%;
}

.flexRow{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alignTextLeft>*{
  text-align: left;
  width: 100%;
}

.aligTextRight{
  text-align: right;
}

/*Special pieces*/

.bgImg{
  background-image: url("assets/img/Big view Restaurant BG.png");
  background-size: cover;
  background-position: top ;
  background-color: #85b9c4;
}

.bgImg02{
  background-image: url("assets/img/Big view Restaurant BG.png");
  background-size: cover;
  background-position: bottom ;
  background-color: #85b9c4;
}

/*Body*/

body{
  display: flex;
  flex-direction: column;
}

/*Header*/

header nav{
  justify-content: space-between;
  margin: 0 2vw;
  padding: 1%;
  text-align: center;
}

header nav>ul>*{
  width: 150px;
}

.socialIcons img, .socialIcons a, .socialIcons li{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialIcons{
  gap: 13%; 
  height: 10%;
}

.socialIcons img{
  width: 150%;
}

.miniLogo{
  width: 38vh;
}

/*Big logo section Home*/

.LogoHomeSection{
  justify-content: center;
  padding: 32vh;
}

.LogoHomeSection img{
  width: 80%;
  min-width: 950px;
  max-width: 1200px;
}

/*About Us Section*/

.aboutUsStylingBorder{
  padding: 18px 0;
}

.AboutUsSection{
  min-height: 680px;
  padding: 40px 0;
}

.aboutUs{
  gap: 25px;
  padding-top: 50px;
  height: fit-content;

}

.aboutUs p{
  width: 370px;
  padding-bottom: 15px;
}

.aboutUs img{
  min-width: 700px;
}

/* Come Visit */

.comeVisitSection{
  width: 67vh;
  min-width: 930px;
  height: 42vh;
  min-height: 550px;
  margin: 25vh auto;
  padding: 35px; 
  justify-content: start;
  background-color: rgba(72, 153, 169, 0.85) ;
}

.comeVisitDetails{
  justify-content: space-around;
}

.comeVisitDetails ul>*{
  padding: 4% 0;
}

.comeVisitDetails div{
  height: 80%;
}


/* Our Goods */

.ourGoodsSection{
  align-items: center;
}
.ourGoodsSection>h2{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 1.5% 0;
  height: 131px;
}

.menuOptions{
  flex-wrap: wrap;
  margin: 7% 0;
}

.ourGoodsSection>section{
  max-width: 1120px;
  padding-bottom: 3%;
}

.menuCategorySelection{
  margin-top: 8%;
  gap: 3%;
}

.menuCategorySelection li{
  padding: 0 4%;
  border-bottom: 1px solid  #5C5444;
}

.ourGoodsSection>section>nav ul{
  justify-content: center;
}

.menuOptions li{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 25.33%;
  aspect-ratio: 1/1.3;
  margin: 3% 4%;
  padding: 4%;
  border-radius: 55px;
  background-color: #949C72;
}

/* Footer */

footer{
  padding: 4%;
}

.footerSection ul>*{
  padding: 4% 0;
}

.footerSection{
  justify-content: space-between;
}




/******************************************
/* ADDITIONAL STYLES
/*******************************************/

 /*Color*/

/*Page Color*/

.mainColor01{
   background-color: #F8D0A1;
 }

 .mainColor02{
  background-color:  #949C72;
 }

 .focusColor{
  background-color: #5C5444;
 }

 /*Font colors*/
 .whiteText{
  color: white;
 }

 .brownText *{
  color: #5C5444;
  ;
 }

 