/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  margin: 0px;
}

/* Normalize default*/

li, a{
  list-style: none;
  font-style: none;
  text-decoration: none;
}

ul, menu{
  padding: 0;
}

/******************************************
/* LAYOUT
/*******************************************/

/*Comon properties*/

.width100{
  width: 100%;
}

.height100{
  height: 100%;
}

.displayFlex{
  display: flex;
}
.flexRow{
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*Body*/

body{
  display: flex;
  flex-direction: column;
}

/*Header*/

header nav{
  justify-content: space-between;
  margin: 0 5%;
  padding: 1rem;
}

header nav>ul>*{
  width: 8.813rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

 /*Color*/

/*Page Color*/

.mainColor01{
   background-color: #F8D0A1;
 }


 /*Fonts*/
 